<p><em>Click on a user below to view their tasks -</em></p>

<% @users.each do |user| %>
    <p><a href='users/<%= user.id %>'><%= user.username %></a></p>
<% end %>

<form action='/logout'>
    <a href='/logout'><input type='submit' value='Logout'></a><br><br>
</form>