<h3>Welcome, <%= @user.username %>!</h3>
<p>Your tasks for the day -</p>

<form action='/logout'>
    <% @tasks.each do |task| %>
        <input type='checkbox'><a href='/tasks/<%= task.id %>'><%= task.task_descr %></a><br></input>
    <% end %><br>

    <a href='/logout'><input type='submit' value='Logout'></a><br><br>
</form>