<h2>Error!</h2>

<p>Please enter a valid email address or password.</p>

<form method='post' action='/login'>
    Email: <input type='text' name='email'><br><br>
    Password: <input type='password' name='password'><br><br>

    <input type='submit' value='Log In'><br><br>
</form>