<!DOCTYPE html>
  <head>
    <title>SinatraTodo</title>
  </head>
  <body>
    <header>
        <h1>Sinatra Todo</h1>
    </header>
    <div class="wrapper">

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>SinatraTodo</strong></small>
      </footer>
    </div>
  </body>
</html>
